@media (min-width: 900px) {
    
    body {
        max-width: 900px;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    
    main {
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
    }
    
    main h2{
        grid-row: 1;
        grid-column: 1/3;
    }
    

}
  